{% extends "layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'views.errors.default.header'|trans }}</h1>
    </div>
    {{ 'views.errors.default.message'|trans }}
{% endblock %}
