html, body {
  height: 100%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #555;
  padding-top: 50px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

.navbar-default {
  background: #3399FF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  font-size: 16px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #3366CC;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  text-decoration: underline;
  background-color: transparent;
}

.post-date {
  color: #999;
}

.posts-list {
  list-style: none;
  padding: 0;
}

.posts-list a {
  line-height: 1.7em;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #3366CC;
}

/**
 * *****************************
 * Footer
 * *****************************
 */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 120px;
}

footer {
  margin: -100px auto 0;
  height: 100px;
  background: #3399FF;
  position: relative;
  width: 100%;
  color: #FFF;
  padding-top: 15px;
  font-size: 14px;
}

footer a {
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
  margin-left: -5px;
  margin-right: -5px;
}

footer a:hover,
footer a:focus {
  color: #FFFFFF;
  text-decoration: underline;
}

footer .links {
  list-style: none;
  padding: 0;
}

footer .links a {
  text-decoration: underline;
}

footer .links a:hover,
footer .links a:focus {
  text-decoration: none;
}

/**
 * *****************************
 * Code
 * *****************************
 */

pre {
  border: 0;
  padding: 5px;
}